<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget id="com.coolappz.HelloWorld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">    
	<name>TestePush</name>
    <description>TestePush</description>
    <author email="info@com.coolappz" href="http://www.coolappz.com">Giovanni</author>
    <access origin="*"/>
    <preference name="fullscreen" value="true"/>
    <preference name="webviewbounce" value="true"/>
    <gap:plugin name="com.adobe.plugins.pushplugin" />
</widget>
